<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <KITSUNE_MYSQL_TEST>10.9.23.252:3306:kitsune:testTest123!:kitsune</KITSUNE_MYSQL_TEST>
      <KITSUNE_POSTGRES_TEST>host=10.9.23.252 port=5432 user=kitsune password=testTest123! dbname=kitsune</KITSUNE_POSTGRES_TEST>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
