<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <KITSUNE_MYSQL_TEST>10.9.23.252:3306:kitsune:testTest123!:kitsune</KITSUNE_MYSQL_TEST>
      <KITSUNE_POSTGRES_TEST>host=10.9.23.252 port=5432 user=kitsune password=testTest123! dbname=kitsune</KITSUNE_POSTGRES_TEST>
      <KITSUNE_KAFKA_TEST>10.9.23.252:9092:Test:0</KITSUNE_KAFKA_TEST>
      <KITSUNE_REDIS_TEST>10.9.23.252:6379:hej123</KITSUNE_REDIS_TEST>
      <KITSUNE_SQLITE_TEST>R:\test.sqlite</KITSUNE_SQLITE_TEST>
      <KITSUNE_MONGO_TEST>mongodb://10.9.23.123:27017/</KITSUNE_MONGO_TEST>
      <KITSUNE_MONGO_DB>kitsune</KITSUNE_MONGO_DB>
      <KITSUNE_MONGO_COLL>kitsune</KITSUNE_MONGO_COLL>
      <KITSUNE_LLAMA_MODEL>C:\Models\qwen3-0.6b-q8_0.gguf</KITSUNE_LLAMA_MODEL>
      <KITSUNE_SKIP_ANNOYING>1</KITSUNE_SKIP_ANNOYING>
      <GGML_NO_BACKTRACE>1</GGML_NO_BACKTRACE>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
